<div class="row">
  <div class="span3">
    <h4><%= link_to thing.name, thing_path(thing) %></h4>
  </div>
  <div class="span9">
    <h4>
      <%= link_to "<i class='icon-trash'></i>".html_safe, thing_path(thing),
                :method => :delete,
                :id => "destroy-thing-#{thing.id}",
                :title => 'Delete this thing',
                "data-toggle" => "tooltip",
                :tooltip => nil %>
    </h4>
  </div>
</div>