<h1>Add a New Thing</h1>
<%= form_for(@thing) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create Thing", :class => "btn btn-primary" %>
  </p>
<% end %>